/* GENERAL STYLE */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(59, 45, 142, 1) 18%, rgba(151, 33, 190, 1) 63%, rgba(166, 39, 177, 1) 68%, rgba(252, 70, 107, 1) 96%);
    margin-top: 9em;
}

.container {
    display: flow;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    background-color: black;
    box-shadow: 0 15px 30px 1px rgb(25, 24, 24);
}

.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 20px 20px 0px 0px;
    justify-content: center;
    align-content: space-between;
}

/* Card style */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 200px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 22%, rgba(48, 46, 59, 1) 70%, rgba(96, 96, 97, 1) 98%);
    border-radius: 20px;
    margin: 2em;

}

/*.tooltip-card {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
}*/

.tooltip-card:hover:before {
    content: 'hello';
    position: absolute;
    padding: 5px 10px;
    margin: -5em 0 0 25px;
    background: radial-gradient(circle, rgba(59, 240, 101, 1) 0%, rgba(11, 106, 219, 1) 100%);
    color: black;
    border-radius: 5px;
    border: 0.5px solid rgb(89, 84, 242);
}


.button-container {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 0px 0px 20px 20px;
    justify-content: center;
    align-content: space-between;
}

.score {
    font-size: 25px;
    text-align: center;
    color: #dedee4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Buttons style */

.add-button,
.delete-button {
    margin: 2em;
    width: 200px;
    height: 50px;
    border: transparent;
    border-radius: 15px;
    font-size: 17px;
    font-weight: bold;
}

.add-button:enabled {
    background: linear-gradient(90deg, rgba(26, 46, 39, 1) 0%, rgba(55, 231, 149, 1) 75%, rgba(138, 255, 224, 1) 100%);
}

.delete-button:enabled {
    background: linear-gradient(90deg, rgba(50, 26, 22, 1) 0%, rgba(231, 55, 79, 1) 74%, rgba(251, 110, 163, 1) 100%);
}

.add-button:hover {
    box-shadow: 0 0.3em 2em 0.1em hsl(150, 100%, 66%);
    cursor: pointer;
}

.delete-button:hover {
    box-shadow: 0 0.3em 2em 0.1em hsl(340, 83%, 56%);
    cursor: pointer;
}

.add-button:disabled,
.delete-button:disabled {
    background: #acaeae;
    box-shadow: none;
}

.plus-button,
.minus-button {
    font-size: 25px;
    text-align: center;
    color: black;
    background: linear-gradient(90deg, rgba(52, 47, 61, 1) 9%, rgba(135, 114, 230, 1) 46%, rgba(222, 220, 241, 1) 93%);
    /* background: #aa46db; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: transparent;
    height: 50px;
}

.plus-button:hover,
.minus-button:hover {
    box-shadow: rgb(209 155 237) 0px 0em 2em 0.2em;
    cursor: pointer;
    font-size: 30px;
}

.plus-button {
    border-radius: 20px 20px 0px 0px;
}

.minus-button {
    border-radius: 0px 0px 20px 20px;
}